<ul xmlns:th="http://www.thymeleaf.org" th:fragment="contacto(c)" class="list-group list-group-flush">
    <li class="list-group-item"><strong>Nombre</strong>: <span th:text="${c.nombre}">Nombre</span></li>
    <li class="list-group-item"><strong>Teléfono</strong>: <span th:text="${c.telefono}">000</span></li>
    <li class="list-group-item"><strong>E-mail</strong>: <span th:text="${c.email}">a@a.com</span></li>
    <li class="list-group-item"><strong>Provincia</strong>: <span th:text="${c.provincia?.nombre ?: 'Sin provincia'}">Provincia</span></li>
    <li class="list-group-item"><strong>País</strong>: <span th:text="${c.provincia?.pais?.nombre ?: 'Sin país'}">País</span></li>
</ul>